version: "3.8"
services: 
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    ports:
      - "8123:8123" 
      - "9000:9000"  
    volumes:
      - ./clickhouse_data:/var/lib/clickhouse
      - ./clickhouse_logs:/var/log/clickhouse-server
      - ./users.xml:/etc/clickhouse-server/users.xml

  minIO:
    container_name: 'minIO'
    image: 'minio/minio:RELEASE.2024-03-03T17-50-39Z' 
    environment:
      MINIO_ROOT_USER: 'minIOuser' 
      MINIO_ROOT_PASSWORD: 'minIOpass'
    ports:
      - "9001:9000"
      - '9091:9090'
    volumes:
      - ./minio_data:/data
    command: server /data --console-address ":9090"

  createbucket:
    hostname: createbucket
    container_name: createbucket
    image: minio/mc:RELEASE.2024-01-13T08-44-48Z
    depends_on:
     - minIO
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set myminio http://minIO:9000 minIOuser minIOpass;
      /usr/bin/mc mb myminio/raw-data;
      /usr/bin/mc anonymous set public myminio/raw-data;
      "

volumes:
  clickhouse_data:
  clickhouse_logs: